<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UUID</key>
	<dict>
		<key>AA6062F0-98CA-4211-8EC4-193EB73CEBE6</key>
		<string>Open Beacon</string>
		<key>F0018B9B-7509-4C31-A905-1A27D39C003C</key>
		<string>Beacon Inside</string>
		<key>A1EA8121-0E1B-D4A1-B840-63F88C8DA1EA</key>
		<string>Kontakt IO</string>
		<key>5A4BCFCE-174E-4BAC-A814-092E77F6B7E5</key>
		<string>Air Locate</string>
		<key>74278BDA-B644-4520-8F0C-720EAF059935</key>
		<string>Air Locate</string>
		<key>B9407F30-F5F8-466E-AFF9-25556B57FE6D</key>
		<string>Estimote</string>
		<key>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</key>
		<string>Radius Networks</string>
	</dict>
	<key>Major</key>
	<dict>
		<key>ID</key>
		<dict>
			<key>0</key>
			<string>Portable</string>
			<key>100</key>
			<string>Home</string>
			<key>101</key>
			<string>Entrance</string>
			<key>102</key>
			<string>Hallway</string>
			<key>103</key>
			<string>Living Room</string>
			<key>104</key>
			<string>Kitchen</string>
			<key>105</key>
			<string>Bedroom</string>
			<key>106</key>
			<string>Bathroom</string>
			<key>107</key>
			<string>Office</string>
			<key>108</key>
			<string>Closet</string>
			<key>109</key>
			<string>Balkony</string>
			<key>200</key>
			<string>Work</string>
			<key>201</key>
			<string>Entrance</string>
			<key>202</key>
			<string>Kitchen</string>
			<key>203</key>
			<string>Bathroom</string>
		</dict>
		<key>Range</key>
		<dict>
			<key>Home</key>
			<dict>
				<key>from</key>
				<integer>100</integer>
				<key>to</key>
				<integer>199</integer>
			</dict>
			<key>Work</key>
			<dict>
				<key>from</key>
				<integer>200</integer>
				<key>to</key>
				<integer>299</integer>
			</dict>
		</dict>
	</dict>
	<key>Minor</key>
	<dict>
		<key>ID</key>
		<dict>
			<key>100</key>
			<string>Furniture</string>
			<key>101</key>
			<string>Sofa</string>
			<key>102</key>
			<string>Table</string>
			<key>103</key>
			<string>Wardrobe</string>
			<key>104</key>
			<string>Bed</string>
			<key>105</key>
			<string>Chair</string>
			<key>106</key>
			<string>Desk</string>
			<key>107</key>
			<string>Cupboard</string>
			<key>200</key>
			<string>Appliance</string>
			<key>201</key>
			<string>Fridge</string>
			<key>202</key>
			<string>Boiler</string>
			<key>203</key>
			<string>Stove</string>
			<key>204</key>
			<string>Oven</string>
			<key>205</key>
			<string>Coffee</string>
			<key>206</key>
			<string>Tea</string>
			<key>207</key>
			<string>Wage</string>
			<key>300</key>
			<string>Electronics</string>
			<key>301</key>
			<string>TV</string>
			<key>302</key>
			<string>Projector</string>
			<key>303</key>
			<string>Gaming</string>
			<key>304</key>
			<string>Stereo</string>
			<key>305</key>
			<string>Charger</string>
			<key>306</key>
			<string>Computer</string>
			<key>400</key>
			<string>Luggage</string>
			<key>401</key>
			<string>Backpack</string>
			<key>402</key>
			<string>Suitcase</string>
			<key>403</key>
			<string>Bag</string>
			<key>500</key>
			<string>Mobility</string>
			<key>501</key>
			<string>Bike</string>
			<key>502</key>
			<string>Car</string>
			<key>600</key>
			<string>Wearable</string>
			<key>601</key>
			<string>Watch</string>
			<key>602</key>
			<string>Band</string>
			<key>603</key>
			<string>Headphones</string>
			<key>604</key>
			<string>Apparel</string>
			<key>605</key>
			<string>Shoes</string>
			<key>606</key>
			<string>Purse</string>
			<key>701</key>
			<string>Nexts</string>
		</dict>
		<key>Range</key>
		<dict>
			<key>Custom</key>
			<dict>
				<key>from</key>
				<integer>0</integer>
				<key>to</key>
				<integer>99</integer>
			</dict>
			<key>Furniture</key>
			<dict>
				<key>from</key>
				<integer>100</integer>
				<key>to</key>
				<integer>199</integer>
			</dict>
			<key>Appliance</key>
			<dict>
				<key>from</key>
				<integer>200</integer>
				<key>to</key>
				<integer>299</integer>
			</dict>
			<key>Electronics</key>
			<dict>
				<key>from</key>
				<integer>300</integer>
				<key>to</key>
				<integer>399</integer>
			</dict>
			<key>Luggage</key>
			<dict>
				<key>from</key>
				<integer>400</integer>
				<key>to</key>
				<integer>499</integer>
			</dict>
			<key>Mobility</key>
			<dict>
				<key>from</key>
				<integer>500</integer>
				<key>to</key>
				<integer>599</integer>
			</dict>
			<key>Wearables</key>
			<dict>
				<key>from</key>
				<integer>600</integer>
				<key>to</key>
				<integer>699</integer>
			</dict>
			<key>App</key>
			<dict>
				<key>from</key>
				<integer>700</integer>
				<key>to</key>
				<integer>799</integer>
			</dict>
		</dict>
	</dict>
	<key>Version</key>
	<integer>2</integer>
	<key>Source</key>
	<string>https://github.com/AwwApps/Open-Beacon-Credentials</string>
</dict>
</plist>
